* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 15%;
}

ul {
    list-style: none;
    padding: 25px;
}

li {
    display: inline;
    padding: 16px;
}
li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

header {
    background-color: #C6bfbf;
    padding: 30px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: right;
    padding-left: 15%;
}

p {
    margin: 20px;
    flex-direction: column;
    align-items: right;
}

.row {
    display: flex;
    height: auto;
    padding: 50px;
    display: flex;
    flex: 2;
    gap: 10%;
    margin: 50px;
}

.footer {
    background-color: #0b4d14;
    display: flex;
    justify-content: space-between;
}

.first-footers {
    margin-left: 100px;
}

.second-footers {
    margin-right: 100px;
}